/* about css */

#about {
    /* background: linear-gradient(45deg, transparent 49%, #27496D 49% 51%, transparent 51%) , linear-gradient(-45deg, transparent 49%, #27496D 49% 51%, transparent 51%); */
        /* background-size: 3em 3em; */
        /* background-color: var(--fouth-main-color); */
        /* opacity: 1;   */
    
        background-color: #0000004a;
        opacity: 1;
        background-image: radial-gradient(#142850 1px, #000000 1px);
        background-size: 16px 16px;
    position: relative;  
    padding: 5rem 9% 4rem;
    height: auto;
    /* margin-top: -30px; */
  }
  
  .aboutdiv{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 6vh;
  }
  
  .building-img{   
  
    width: 200%;
    margin: 0 10%;
    display: flex;
    justify-content: center;  
    align-items: center;
  }
  
  .building-img img{
    width: 300px; 
    height:auto;
  }
  
  .about-content{ 
  
    display: flex; 
    flex-direction: column;
    flex-wrap: nowrap; 
    gap: 2rem;
    color:white;
  }
  
  .about-content ul li{ 
    font-size:1.6rem ;
    row-gap: 1rem;
    list-style: initial;
    color:white;
  }
  .about-content h3{
    color:white;
  }
  .about-content h1{
    font-size: 5rem; 
    display: flex;
    justify-content: flex-start;
    color:white;
  }
  
  .about-content p{ 
    font-size:1.6rem ;
    color:white;
  }
  
  
  @media screen and (max-width:988px){
   .aboutdiv{
    flex-direction: column;
   
   }
   .building-img{
  
    width:80%;
   }
   .about-content{
    margin-top:30px;
   }
   .about-content h1{
    text-align: center;
    width:fit-content;
    margin: auto;
   }
   .heading{
    
   }
  }
  @media screen and (max-width:558px){
    .building-img{
      display:none;
    }
    div.heading{
     margin-top: -80px;
       
    }

    div.heading h1{
      font-size: 3rem;
      width:fit-content;
    
     text-align: center;
    }
    .about-content p{
      font-size: 1rem;
    }
    .about-content ul li{
      font-size: 1rem;
    }

  }
  /* about css */