/* about css */

#about {
    /* background: linear-gradient(45deg, transparent 49%, #27496D 49% 51%, transparent 51%) , linear-gradient(-45deg, transparent 49%, #27496D 49% 51%, transparent 51%); */
        /* background-size: 3em 3em; */
        /* background-color: var(--fouth-main-color); */
        /* opacity: 1;   */
    
        background-color: #000000;
        opacity: 0.9;
        background-image: radial-gradient(#142850 0.8px, #000000 0.8px);
        background-size: 16px 16px;
    position: relative;  
    padding: 10rem 9% 4rem;
    height: auto;
  }
  
  .aboutdiv{
    display: flex;
    flex-wrap: nowrap;
  }
  
  .building-img{   
    justify-content: center;  
    width: 200%;
    margin: 0 10%;
    display: flex;
    align-items: center;
  }
  
  .building-img img{
    width: 100%; 
  }
  
  .about-content{ 
    display: flex; 
    flex-direction: column;
    flex-wrap: nowrap; 
    gap: 2rem;
  }
  
  .about-content ul li{ 
    font-size:1.6rem ;
    row-gap: 1rem;
    list-style: initial;
  }
  
  .about-content h1{
    font-size: 5rem; 
    display: flex;
    justify-content: flex-start;
  }
  
  .about-content p{ 
    font-size:1.6rem ;
  }
  
  
  
  /* about css */