
.background{
    width: 430px;
    height: 520px;
    margin: auto;
    margin-top: 200px;
    border:2px solid rgb(71, 84, 97);
    border-radius: 30px;
    padding: 30px;
 
}
.App{
  background-color: black;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
svg{
    margin-left: 20px;
    font-size: 20px;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
.login{
    margin-top:60px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.social{
  margin-top: 30px;
  display: flex;
}
.social div{
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.social .fb{
  margin-left: 25px;
}
.social i{
  margin-right: 4px;
}
@media screen and (max-width:548px){
   .background form{
        width:auto;
        height:auto;
      font-size: 1rem;
     margin: auto;
    }
    .background{
        display: flex;
        align-items: center;
        justify-content: center;
        width:300px;
        height: 440px;
        margin:auto;
        margin-top: 200px;
    }
    .login{
        margin-top: 20px;
    }
}