#idea{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background:  #1f242d;
    height: auto;
}

.idea h1{
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 50px;
}
 .form{
   box-sizing: border-box;
     /* margin-top: 290px; */
/*     b
     width: 600px; */
     height: 500px;
     margin-top: 30px;
 }
.idea form{
    width: 600px;
    text-align: center;
    position: relative;

/* margin-top: 270px; */
   /* margin: auto; */
}

.idea .input-box{
    display: flex;
    justify-content: space-between;
}

.idea .input-box .input-field{
    width: 48.5%;
}

.idea .field .item{
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #ededed;
    margin: 12px 0;
}

.idea .field.error .item{ 
    border-color: #d93025;
}

.idea .field.item::placeholder{
    color: rgba(255,255,255,.3);
}

.idea .field .error-txt{
    font-size: 14.5px;
    color: #d93025;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
}

.idea .field.error .error-txt{
    display: block;
}

.idea .idea form .textarea-field .item{
    resize: none;
}
 
.idea form .textarea-field .error-txt{
    margin-top: -10px;
}

.idea button{
    padding: 12px 32px;
    background: #0ef;
    border: none;
    outline: none;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #333; 
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top:-10px;
    transition: .5s;
    border-radius: 30px;
}

.idea form button:hover{
    box-shadow: none;
}
@media  screen and (max-width:619px) {
      .idea form{
      
        width:380px;
      }
}
@media  screen and (max-width:558px) {
    .idea h1{
        font-size: 3rem;
    } 
    .idea button{
        height:28px;
        border-radius: 20px;
        padding: 0px;
        width:100px;
        font-size: 1rem;
    } 
}
@media  screen and (max-width:429px) {
    .idea form{
      width:300px;
    }
   
}