
.bttnn{
  padding: 1rem 1.5rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 550;
  transition: 0.5s ease;
  font-size: 1.6rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  position:absolute;
  left: 82%; 
}
.h11{
  font-size: 4.5rem;
  font-weight: 700;
  /* margin: 1rem; */
  text-align: center;
}
#gallery{
  margin: 0 auto;  
  padding: 10rem 8% 4rem;
  box-sizing: border-box;
  height: auto;
  background-color: #0000004a;
        opacity: 1;
        background-image: radial-gradient(#142850 1px, #000000 1px);
        background-size: 16px 16px;
}
.gallery1{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap: 1rem;
  margin: 0 auto;

}
.gallerydiv{
  width: 250px;
  /* padding: 1rem; */
}
.imgdiv{
  overflow: hidden;
 margin: 1rem 0.5rem;
}
.imgdiv img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}
@media screen and (max-width: 765px){
  .gallerydiv{
    width: 30%;
  }
  /* .gallerydiv:last-child{
    display: none;
  } */
  .bttnn{
    left:60%;
    margin-bottom: 1rem;
  }
  #gallery{
    padding: 0rem;
    /* margin-bottom: 7rem; */
  }
  .gallery1{
    padding: 0rem;
    gap: 0.5rem;
  }
  
}
@media screen and (max-width: 558px){
      .h11{
        font-size: 3rem;
      }
}
@media screen and (max-width:1025px) {
  .gallerydiv:last-child{
    display: none;
  }
  .gallerydiv{
    width: 30%;
  }
  
}
