
/* .header,.footer{
    width: 100%;
    height: 6rem;
    background-color: blanchedalmond;
} */
#Talks_viewMore{
    background-color: #000000;
  opacity: 0.9;
  background-image: radial-gradient(#142850 0.8px, #000000 0.8px);
  background-size: 16px 16px;
 }
.talks.heading{
    margin-top: 2rem;

    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    padding: 1rem;
    color: rgb(81, 89, 90);
    margin-bottom: 2rem;
}
.container_header1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  } 
  
  .container_header1 {
    height: 45vh;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;  
    background: linear-gradient(180deg, transparent, #000),
      url(../../../public/img/image.jpg.jpg  );
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .container_header1   h1{
    align-items: center;
    padding-top: 20px;
    font-size: 100px;
    color: bisque;
    justify-items: center;
  }
.main11{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}
.main11 .row11{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    width: 100%;
}
.card11{
    width: 27%;
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(39, 39, 38);
    border-radius: 1rem;
    box-shadow: 1px 1px 10px 1px rgb(255, 255, 254);
    display: flex;
flex-direction: column;
margin-left: 2rem;
}
.card11 .comma{
    font-size: 3rem;
    color: rgb(49, 112, 201);
    font-weight: 900
}
.card11 .text{
    color: rgb(227, 227, 227);
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.line{
    width: 100%;
    height: 1px;
    background-color: white;
    margin-bottom: .5rem;
}
.card11 .id11{
    margin-top: .5rem;
    display: flex;
    height: 8rem;
    /* border-top: 1px solid white; */
    justify-content:flex-start;
    align-items: center;
    gap: 1rem;
}
.id11 .logo11{
    width: 20%;
   height:7rem;
    border-radius: 50%;
    background-color: rgb(242, 237, 242);
}
.id11 .name11{
    font-size: 1.5rem;
    color:rgb(133, 122, 65);
    font-weight: 700;

}

@media screen and (max-width: 1025px){
    .card11{
        width: 45%;
    }
    .id11 .logo11{
        width: 20%;
        height: 60%;
    }
    
}
@media screen and (max-width: 440px){
    .card11{
        width: 70%;
    }
    .heading{
        font-size: 2rem;
    }   
    .main11 .row11{
        flex-direction: column;
    }
    .card11 .id11{
        flex-direction: column;
        height: 11rem;
    }
  
    
    
}

