/* body {
    font-family: Montserrat, sans-serif;
    background: #28223f;
    color: white;

} */

.team{
    /* margin-top: 100px; */
}
.container_header1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  } 
  
  .container_header1 {
    height: 45vh;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;  
    background: linear-gradient(180deg, transparent, #000),
      url(../../../public/img/image.jpg.jpg  );
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .container_header1   h1{
    align-items: center;
    padding-top: 20px;
    font-size: 100px;
    color: bisque;
    justify-items: center;
  }

.team h1 {
    text-align: center;
    font-size: 3rem;
}

.team .main {
    display: flex;
    padding: 100px 0;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

