.slidesMain.slides{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
}

.slidesMain{
    margin: 0px 0;
    color: white;
}

.slidesMain .slideNames{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    gap: 50px;
}

.slidesMain .slideNames div{
    padding: 20px 30px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    color: black;
    font-size:10px ;
}
.slidesMain .slideNames div h2{
    color:black;
 
}

.slidesMain .active{
   outline: 5px solid rgb(49, 94, 255);
}

.slidesMain .infoSection{
    display: flex;
}

.slidesMain .dataSection{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.slidesMain .wrapper{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

.slidesMain .wrapper button{
    width: fit-content;
    padding: 15px 20px;
    background-color: rgb(0, 158, 250);
    font-weight: bolder;
}

.slidesMain .wrapper p{
    font-size: 1.5rem;
}

.slidesMain .imgSection{
    height: 500px;
    flex: 1;
}

.slidesMain .imgSection img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
@media screen and (max-width:740px){
   .slideNames{
    margin: auto;
             width:80%;
             gap: 20px;
    }
    .slideNames div{
        width:20%;
       
    }
 .slideNames h2{
    width:100%;
    font-size: 10px;
    }
}
@media screen and (max-width:679px){
    .slideNames h2{
      
       display: inline-block;
       width:50px;
        
    }
    .slideNames div{
       height:30px;
       display:flex;
       align-items: center;
       justify-content: center;
    }
    .infoSection{
        display: flex; 
        flex-direction:column-reverse;
  
 
        margin-top: 10px;
    }
    .dataSection{
        padding-top: 20px;
    }
    .imgSection{
        margin-top: 20px;
    }
}
@media screen and (max-width:400px){
    .slidesMain .slideNames {
        display:flex;
        gap:10px;
    }
    
}
@media screen and (max-width:558px){
    .dataSection .wrapper p{
        font-size: 1rem;
    } 
    .dataSection .wrapper h1{
       font-size: 1.3rem;
    }
    .dataSection .wrapper button{
        font-size: 1rem;
    }
    .slidesMain{
     padding-top: 0px;
    }
 
}