.slides{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
}

.slidesMain{
    margin: 50px 0;
    color: white;
    padding: 0 20px;
}

.slideNames{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    gap: 50px;
}

.slideNames div{
    padding: 20px 30px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    color: black;
}

.active{
   outline: 5px solid rgb(49, 94, 255);
}

.infoSection{
    display: flex;
}

.dataSection{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.wrapper{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

.wrapper button{
    width: fit-content;
    padding: 15px 20px;
    background-color: rgb(0, 158, 250);
    font-weight: bolder;
}

.wrapper p{
    font-size: 1.5rem;
}

.imgSection{
    height: 500px;
    flex: 1;
}

.imgSection img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}