 
.heading{
    margin-top: 5rem;

    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    padding: 1rem;
    color: rgb(246, 249, 249);
    margin-bottom: 2rem;
}
.cards_pag{
  background-color: #000000;
  opacity: 0.9;
  background-image: radial-gradient(#142850 0.8px, #000000 0.8px);
  background-size: 16px 16px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    gap: 4rem;
    margin-bottom:3rem ;
}
.main .row{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap:3vw;
}
.flip-card {
    background-color: transparent;
    width:25% !important;
    height: 15rem;
    /* perspective: 1000px; */
    font-family: sans-serif;
    font-size: large !important;
  }
  
  .title {
    font-size: 3rem !important;
    font-weight: 900;
    text-align: center;
    margin: .5rem;
  }
  .button{
    margin: 0 auto;
    background-color: rgb(6, 156, 6);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    width: fit-content;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 2rem;
   
  }
  .image{
    background-color: aqua;
    height: 60%;
    width: 50%;
    border-radius: 50%;
    margin: 0 auto; 

  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateX(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1rem;
  }
  
  .flip-card-front {
    background: linear-gradient(120deg, rgb(151, 150, 149) 60%, rgb(95, 94, 94) 88%,
       rgb(74, 74, 73) 40%, rgba(59, 58, 58, 0.703) 48%);
    color: rgb(66, 64, 64);
  }
  
  .flip-card-back {
    background: linear-gradient(120deg, rgb(57, 57, 57) 30%, rgb(67, 66, 66) 88%,
       rgb(93, 92, 92) 40%, rgb(110, 109, 109) 78%);
    color: white;
    transform: rotateX(-180deg);
    font-size: 2.5rem !important;
  }
  #found{
    font-size: 2rem;
  }

  @media screen and (max-width:440px) {
    .flip-card {
      width: 30% !important;
      height: 15rem !important;
    }
    #found{
      font-size: 1rem;
    }
    .title {
      font-size: 1.5rem !important;
    }
    .button{
      font-size: 0.8rem;
    }
    
  }
  