

.talks{
    padding: 10rem 0% 6rem;
    background-color: #000000;
      opacity: 0.9;
      background-image: radial-gradient(#142850 0.8px, #000000 0.8px);
      background-size: 16px 16px;    
    display: grid;
    place-items: left; 
    overflow: hidden;
    height: auto;
}

.talks_content{
    width: 100vw; 
    margin-bottom: 4rem;
    height: auto;
    /* text-align: center; */
    text-align: start;
}

.talks_content h1{
    color: #fff; 
    margin-left: 9%;
    font-size: 5rem;
    /* margin: 0rem 0rem 1rem 0rem; */
}

.talks_content p{
    color: #fff;
    margin-left: 9%; 
    /* margin: 1rem 0rem 1rem 28%; */
    width: 50%;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.talks_btn{   
    /* margin: 0 9%; */
    /* margin-left: 70%; */
    width: 91%;
    display: flex;
    justify-content: end;
    /* margin-right: 9%; */
}
.talks_btn.btn{  
}

.talk_slider{
    height: 500px;
    margin: auto;
    position: relative;
    width: 100vw;
    display: grid;
    place-items: center;
    margin-bottom: 4rem;
}

.talk_slider::after,.talk_slider::before{
    /* background: linear-gradient(to right, white 0%, rgba(255,255,255,0) 100%); */
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.talk_slider::after{
    left: 0;
    top: 0;
}

.talk_slider::after{
    right: 0;
    top: 0;
}

.talk_slider_track{
    display: flex;
    width: calc(350px * 14);
    animation: scroll 40s linear infinite;                                                                                                              
    gap: 30px;
    /* overflow: hidden;  */
    height: 400px;
}

.talk_slider_track:hover{
    animation-play-state: paused;
}


@keyframes scroll {
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(calc(-350px *7));
    }
}

.talk_slide{
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between  ;
    background: #27496D;
    border: solid 2px #0ef;
    border-radius: 10px; 
    /* padding: 15px; */
    perspective: 100px;
    transition: transform 1s;
}

.talk_slide:hover{ 
    transform: translateZ(20px);
}

.talk_slide_content{
    font-size: 1.6rem;
    padding: 3rem 10% 1.6rem;

}

.talk_slide_profile{
    display: flex;
    background: black; 
    padding: 1rem 10%;
    border-radius: 10px;
    width: 100%;
}

.talk_slide_profile_photo{
    width: 50px;
    height: 50px; 
    border-radius: 50%;
}

.talk_slide_profile_photo img{
    width: 100%;
}

.talk_slide_profile_content{ 
    display: flex;
    align-items: last baseline;
    flex-direction: column;
    justify-content: left;
    padding: 1rem 2% .5rem;
}

  
@media screen and (max-width:1282px){
   .talk_slide_content p{
      text-overflow: ellipsis;
   }

     /* .talk_slide_content{
        width:20vw;;
     } */
   
     .talks_btn{
      padding:0px;
        display: flex;
        align-items: center;
        margin-left:70px;
     }
     .btn{
        margin: auto;
        width:150px;
     }
     .talk_slide_profile{
       
       height:70px;
       box-sizing: border-box;
       display: flex;

     }
     .talk_slide_profile_content{
        color:white;
        box-sizing: border-box;
        margin-left: 5px;
     }
     .talk_slide_profile_content h3{
      
        color:white;
     }
     .talk_slider_track{
        height:400px;
     } 
  
}
@media screen and (max-width:1220px){
    .talk_slide_content p{
        height:150px;
        overflow: auto;
    }
   
    .talk_slide{
        height:290px;
        width:400px;
        padding-bottom: 5px;
    }
    .talk_slider_track{
        width: calc(280px * 14);
        height:310px;
     }
}
@media screen and (max-width:670px){
    .talks_btn{
        margin-left: 30px;
        
    }
    .talk_slider{
      
        height:auto;
     }
}
@media screen and (max-width:558px){
      .talks_content h1{
            font-size: 3rem;
      }
      .talks_content p{
        font-size: 1rem;
  }
  .talk_slide_content p{
     font-size: 1rem;
  } 
  .talk_slide{
     height:220px;
     width:200px;
     /* display: flex;
     justify-content: flex-end; */
  }
  .talk_slide_profile{
    height: 50px;
    width:200px;
    margin-top:-45px
  }
  .talk_slide_profile_content{
    font-size: 0.6rem;
  }
  .talk_slide_profile_photo{
      height:30px;
      width:30px
  }
  .talks_btn{
    display: flex;
    justify-content: center;
    margin-left: 25px;
    align-items: center;
  }
  .talks_btn .btn{
  
    height:28px;
    /* padding-top: 2%; */
    padding: 0px;
    font-size: 1rem;
    /* margin: auto; */
    width:100px;
  }
  .talk_slider{
   margin-bottom: 0px;
 }
 .talks{
    padding-top: 2rem;
 } 
}
@media screen and (max-width:400px){
     .talk_slider{
        margin-top: -10px;
        height:auto;
     }
     .talks_content h1{
        margin-top: -10px;
     }
     .talks_btn .btn{
        font-size: 1rem; 
       
     }
    
}