

.talks{
    padding: 10rem 0% 6rem;
    background-color: #000000;
      opacity: 0.9;
      background-image: radial-gradient(#142850 0.8px, #000000 0.8px);
      background-size: 16px 16px;    
    display: grid;
    place-items: left; 
    overflow: hidden;
}

.talks_content{
    width: 100vw; 
    margin-bottom: 4rem;
    height: auto;
}

.talks_content h1{
    color: #fff; 
    font-size: 5rem;
    margin: 0rem 0rem 1rem 9%;
}

.talks_content p{
    color: #fff; 
    margin: 1rem 0rem 1rem 9%;
    width: 50%;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.talks_btn{
    width: 100vw; 
    padding-left: 28%;
}

.talk_slider{
    height: 500px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    margin-bottom: 4rem;
}

.talk_slider::after,.talk_slider::before{
    /* background: linear-gradient(to right, white 0%, rgba(255,255,255,0) 100%); */
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.talk_slider::after{
    left: 0;
    top: 0;
}

.talk_slider::after{
    right: 0;
    top: 0;
}

.talk_slider_track{
    display: flex;
    width: calc(350px * 14);
    animation: scroll 40s linear infinite;                                                                                                              
    gap: 30px;
    /* overflow: hidden;  */
    height: 400px;
}

.talk_slider_track:hover{
    animation-play-state: paused;
}


@keyframes scroll {
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(calc(-350px *7));
    }
}

.talk_slide{
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between  ;
    background: #27496D;
    border: solid 2px #0ef;
    border-radius: 10px; 
    /* padding: 15px; */
    perspective: 100px;
    transition: transform 1s;
}

.talk_slide:hover{ 
    transform: translateZ(20px);
}

.talk_slide_content{
    font-size: 1.6rem;
    padding: 3rem 10% 1.6rem;

}

.talk_slide_profile{
    display: flex;
    background: black; 
    padding: 1rem 10%;
    border-radius: 10px;
    width: 100%;
}

.talk_slide_profile_photo{
    width: 50px;
    height: 50px; 
    border-radius: 50%;
}

.talk_slide_profile_photo img{
    width: 100%;
}

.talk_slide_profile_content{ 
    display: flex;
    align-items: last baseline;
    flex-direction: column;
    justify-content: left;
    padding: 1rem 2% .5rem;
}