/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(38, 92%, 58%);
  --first-color-light: hsl(38, 100%, 78%);
  --first-color-alt: hsl(32, 75%, 50%);
  --second-color: hsl(195, 75%, 52%);
  --dark-color: hsl(212, 40%, 12%);
  --white-color: hsl(212, 4%, 95%);
  --body-color: hsl(212, 42%, 15%);
  --container-color: hsl(212, 42%, 20%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Bai Jamjuree", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: 1rem;
}

/*=============== BASE ===============*/
.incubations {
  box-sizing: border-box; 
}

.incubations body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--white-color);
  line-height: normal;
}

.incubations a {
  text-decoration: none;
}

/*=============== CARD ===============*/
.incubations {
  display: block;  
  padding: 10rem 9% 5rem;
  /* height: 100vh; */
  box-sizing: unset;
  max-width: none;
  margin: 0%; 
  background: var(--dark-color);
  height: auto;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 5));
  }
}


.incubations_header{ 
  display: flex;
  flex-direction: column;
  justify-content:  start; 
  /* align-items: center; */
  padding-bottom: 5rem;
}

.incubations_header h1{  
  font-size: 5rem;
  padding-bottom: .5rem;
  margin-bottom: 20px;
}

.incubations_header p{  
  font-size: 1.6rem;
  width: 60%;
}

.incubations img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card__incubations {
  padding-block: 5rem;
  padding-bottom: 5rem;
  height: auto;
}

.incubations_swiper{
  width: 100%;
}

.card__incubationcontent {
  margin-inline: 1.75rem;
  border-radius: 1.25rem; 
  overflow: hidden;
}

.card__incubationarticle {
  width: 300px; /* Remove after adding swiper js */
  border-radius: 1.25rem;
  overflow: hidden;
  /* animation: scroll 40s linear infinite; */
}


.card__image {
  position: relative;
  background-color: var(--first-color-light);
  /* padding-top: 1.5rem; */
  margin-bottom: -0.75rem;
}

.card__incubationdata {
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  z-index: 10;
}

.card__img {
  width: 100%;
  
  margin: 0 auto;
  position: relative;
  z-index: 5; 
}
/* 
.card__shadow {
  width: 200px;
  height: 200px;
  background-color: var(--first-color-alt);
  border-radius: 50%;
  position: absolute;
  top: 3.75rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  filter: blur(45px);
} */

.card__name {
  font-size: var(--h2-font-size);
  color: var(--second-color);
  margin-bottom: 0.75rem;
}

.card__description {
  font-weight: 500;
  margin-bottom: 1.75rem;
}

.card__button {
  display: inline-block;
  background-color: var(--first-color);
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  color: var(--dark-color);
  font-weight: 600;
}

/* Swiper class */

.swiper{ 
  width: 80%;
  height: auto;
}

.swiper-slide{
  width: 100%;
}

.swiper-pagination{
  margin-top: 0rem;
}
 
.swiper-button-prev:after{
  content: "prev"; 
}
.swiper-button-next:after {
  content: "next";
}


.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--second-color); 
}


/* .swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
} */

.swiper-pagination-bullet {
  background-color: hsl(212, 32%, 40%);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--second-color);
}

@media screen and (max-width:768px){
    .incubations_swiper{
       width:auto;
       border-radius: 30px;
       height:300px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    }
  .swiper-pagination{
    margin-top: 50px;
  }
    .card__incubationdata{
      /* width:100%;
     height:200px; */
    }
     .swiper{
      height:300px;
      width: 80%;
   
     }
    
    .card__incubationarticle {
         width:320px;
         height: 300px;
      
    }
    .swiper-slide{
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
 
       border-radius: 20px; 
    }

    .card__img{
      width:420px;
      z-index:7;
    }

}
@media screen and (max-width:558px) {
 
  .incubations_header h1{
    font-size: 3rem;
  }
  .incubations_header p{
    font-size: 1rem;
  }
 
  .card__incubationarticle {
border-radius: 20px;
 
} 
}
