/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif; 
  color: #fff;
}

:root {
  --bg-color: #000000;
  --second-bg-color: rgb(36, 37, 37);
  --text-color: #fff;
  --main-color: #0ef;
  --second-main-color:#0C7B93;
  --third-main-color:#27496D;
  --fouth-main-color:#142850;
} 
body {
  background: var(--third-main-color);
  color: var(--text-color);
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
    url(img/background_img/IMG20230921194023.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: change 40s ease-in-out infinite;
  transition-duration: 2s;
}

@keyframes change {
  0% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
      url(img/background_img/IMG20230921194023.jpg);
  }
  20% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
      url(img/background_img/bicycle-1280x720.jpg);
  }
  40% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
      url(img/background_img/dubai.jpg);
  }
  60% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
      url(img/background_img/517669.jpg);
  }
  80% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
      url(img/background_img/5487146.jpg);
  }
  100% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
      url(img/background_img/6895209.webp);
  }
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  height: auto;
  /* padding: 10rem 9% 2rem; */
}


/* home css */

.home {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    justify-self: center;
    align-items: center;
    height: 110vh;
    padding: 10rem 9% 2rem;
  }

  .grid-2{
    width: 100%;
  }

  .notice { 
    /* height: 380px; */
    /* box-shadow: 3px 3px 15px black; */
    border-radius: 25px; 
    background: transparent;
    border: dashed 5px var(--main-color);  
    height: 47vh;
    overflow: hidden;
    width: 22vw;  
    animation: floatImage 4s ease-in-out infinite; 
    /* animation-delay: 4s ; */
    font-size: 10px;
    /* animation: bringImage 2s ease-in-out 1 ; */
  }

  .notice h1 {
    padding: 1rem;
    text-align: center;
    font-size: 3rem;
  }

  .notice hr{
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray;
    width: auto;   
    margin-left: 10px;
    margin-right: 10px;
  }

  .notice-content{
    font-size: 1.3rem; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    margin-left: 9%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    list-style: initial;
  } 

  .notice:hover{
    animation-play-state: paused;
  }

  /* @keyframes bringImage {
    0% {
      transform: translateY(110vh);
      display: none;
    }
    50% {
      transform: translateY(80vh);
      display: block;
    }
    100% {
      transform: translateY(0);
      display: block;
    }
  } */

  @keyframes floatImage {
    0% {
      transform: translateY(0vh); 
    }
    50% {
      transform: translateY(-2.4rem); 
    }
    100% {
      transform: translateY(0);
    }
  }
 
  .grid-2,.grid-1{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-content h3 {
    font-size: 1.3rem;
    font-weight: 400;
  } 

  .h3-2 h3{
    font-size: 2rem;
  }

  .home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1;
  }

  .home-content p {
    font-size: 1.3rem; 
    width: 35%; 
  }
 
  .Typewriter{
    width: 100% ;
  }

  .Typewriter__wrapper{
    color: #0ef;
    font-size: 3rem; 
    float: inline-start; 
  }

  .Typewriter__cursor{ 
    color: #0ef;
    font-size: 3rem;
  }

  span{
    color: #0ef;
  }

  .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
  }

  .social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
  }
  .social-media i {
    font-size: large;
  }

  .btn {
    display: inline-block;
    padding: 1rem 1.5rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    color: var(--second-bg-color);
    letter-spacing: 0.1rem;
    font-weight: 550;
    transition: 0.5s ease;
    font-size: 1.6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .btn:hover {
    box-shadow: none;
  }

  /* home css */

  @media screen and (max-width: 1280px) {
    .notice-content{ 
    font-size: 1.3rem; 
    }
    .notice {  
      height: 45vh; 
    }
  }

  @media screen and (max-width: 1024px) {
    .notice-content{ 
    font-size: 1.3rem; 
    }
    .notice {   
    }
  }

  @media screen and (max-width: 768px){
    .home{ 
    grid-template-columns:   1fr;
    grid-template-rows: 1fr 1fr;
    }
    .notice {   
      width: 50vw;
    }
  }

  @media screen and (max-width: 480px){
    
  }

  @media screen and (max-width: 320px){
    
  }

  