/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap");

.home {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif; 
  color: #fff;
  background: var(--third-main-color);
  color: var(--text-color);
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
    url(img/background_img/IMG20230921194023.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: change 40s ease-in-out infinite;
  transition-duration: 2s;
}

:root {
  --bg-color: #000000;
  --second-bg-color: rgb(36, 37, 37);
  --text-color: #fff;
  --main-color: #0ef;
  --second-main-color:#0C7B93;
  --third-main-color:#27496D;
  --fouth-main-color:#142850;
} 


@keyframes change {
  0% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
      url(img/background_img/home1.jpg);
  }
  50% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
      url(img/background_img/home2.jpg);
  }
  100% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
      url(img/background_img/home3.jpg);
  }
  /* 60% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
      url(img/background_img/517669.jpg);
  }
  80% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
      url(img/background_img/5487146.jpg);
  }
  100% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
      url(img/background_img/6895209.webp);
  } */
}

.home html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  height: 800px;
  /* padding: 10rem 9% 2rem; */
  
}


/* home css */

.home {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    justify-self: center;
    align-items: center;
    height: 830px;
    padding: 10rem 9% 4rem;
  }
  .grid-2{
    width: 100%;
  }
 
 

  /* @keyframes bringImage {
    0% {
      transform: translateY(110vh);
      display: none;
    }
    50% {
      transform: translateY(80vh);
      display: block;
    }
    100% {
      transform: translateY(0);
      display: block;
    }
  } */

  @keyframes floatImage {
    0% {
      transform: translateY(0vh); 
    }
    50% {
      transform: translateY(-2.4rem); 
    }
    100% {
      transform: translateY(0);
    }
  }
 
  .grid-2,.grid-1{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-content h3 {
    font-size: 1.9rem;
    font-weight: 500;
    color:white;
  } 

  .h3-2 h3{
    font-size: 2rem;
  }

  .home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1;
    color:white;
  }

  .home-content p {
    font-size: 1.3rem; 
    width: 35%; 
    color:white;
  }
 
  .Typewriter{
    width: 300px;
  }

  .Typewriter__wrapper{
    color: #0ef;
    font-size: 3rem; 
    float: inline-start; 
  }

  .Typewriter__cursor{ 
    color: #0ef;
    font-size: 3rem;
  }

  span{
    color: #0ef;
  }

  .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
  }

  .social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
  }
  .social-media i {
    font-size: large;
  }

 .btn {
    display: inline-block;
    padding: 1rem 1.5rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    color: var(--second-bg-color);
    letter-spacing: 0.1rem;
    font-weight: 550;
    transition: 0.5s ease;
    font-size: 1.6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .btn:hover {
    box-shadow: none;
  }

  /* home css */

  @media screen and (max-width: 1280px) {
    .notice-content{ 
    font-size: 1.3rem; 
    }
    .notice {  
      height: 45vh; 
    }
    .grid-1{
      margin-top:70px;
    }
  }
  @media screen and (max-width: 1179px) {
       a.btn{
         margin-top: 10px;
       }
       .grid-2{
        height:300px;
        width:80%;
      }
      .notice{
        width:100%;
        height:100%;
      }
  }
  @media screen and (max-width: 1024px) {
    .notice-content{ 
    font-size: 1.3rem; 
    }
    .notice h1{   
    font-size: 2.2rem;
    }
    .grid-2{
      width:230px;
    }
  }

  @media screen and (max-width: 768px){
    .home{ 
    grid-template-columns:   1fr;
    grid-template-rows: 1fr 1fr;

    height:auto;
   
    }
    
    .notice {   
      width: 50vw;
      margin: auto;
  
    }
    .home-content{
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items:center;
      text-align: center;
    }
.btn{
         width:20%;
      text-align: center;
    }
    a.btn{
      margin-top:20px;
      margin-bottom: 20px;
    }
    .grid-1{
      margin-top:150px;
    }
    .grid-2{
      margin-top: 28px;
      width:80%;
      margin: auto;
    }
    .typewritter{
      display: flex;
      align-items: center;
      /* margin-left: -12px; */
    }
     
    .Typewriter{
      margin-left: -30px;
    }
    p{
  margin: auto;
  text-align: center;
  
    }
    .home-content h1{
      font-size: 4.5rem;
    }
  }

  @media screen and (max-width: 600px){
      .home-content a.btn{
        padding:5px;
        font-size: small;
        margin-top: 10px;
       }
       /* .grid-1{
        margin:auto;
       } */
  
       .home-content p{
        width:auto;
       }
       .grid-2{
        margin-top: 185px;
        width:80%;
      }
      .notice{
        width:100%;
      }
      .Typewriter{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .home-content h1{
        font-size:3.5rem;
      }
      .Typewriter__wrapper{
         font-size: 3rem;
      }
  }

  @media screen and (max-width: 433px){
    .Typewriter{
      margin-left:-23px;
      width:220px;
     margin:auto;
     display: flex;
     align-items: center;
  
    }
    .grid-2{
      margin-top: 185px;
      width:80%;
    }
    .notice{
      width:100%;
    }
    .home-content p{
      width:80%;
    }
    a.btn{
      margin-top: 20px;
    }
    .Typewriter__wrapper{
      font-size: 2.5rem;
      margin-left: -28px;
   }
  }

  
