.faqs {
  background-color: transparent;
  color: black;
}

.faqs .content {
  width: 80%;
  padding: 0;
  margin: 0 auto;
}

.faqs .centerplease {
  margin: 0 auto;
  max-width: 270px;
  font-size: 40px;
  color: white;
  font-weight: bold; 
}

.faqs .outer{
  display: flex;
  align-items: center;
}

/*Question*/
.faqs .question {
  position: relative;
  background: #f9f9f9;
  margin: 0;
  padding: 10px 10px 10px 50px;
  display: block;
  width:100%;
  cursor: pointer;
  color: black;
}
/*Answer*/
.faqs .answers {
  padding: 0px 15px;
  margin: 5px 0;
  width:100% !important;
  height: 0;
  overflow: hidden;
  z-index: 1;
  position: relative;
  opacity: 0;
  color: white;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.faqs .questions:checked ~ .answers{
  height: auto;
  opacity: 1;
  padding: 15px;
  
}

/*FAQ Toggle*/
.faqs .plus {
  position: absolute;
  color: black;
  margin-left: 10px;
  z-index: 5;
  font-size: 2em;
  line-height: 100%;
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;

}

.faqs .questions:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);

}

.faqs .questions {
  display: none;
  
}



