/* goals css */


#goals section{
    height: auto;
    padding: 10rem 9% 5rem;
    /* background-color: var(--fouth-main-color);  */
    position: relative;  
    background-color: #000000;
  opacity: 0.9;
  background-image: radial-gradient(#142850 0.8px, #000000 0.8px);
  background-size: 16px 16px;
  }
  
  
  /* goals css */
  /* =============== GOOGLE FONTS ===============
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*=============== VARIABLES CSS ===============*/
#goals :root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --white-color: #fff;
    --black-color: hsl(210, 12%, 15%);
    --body-color: hsl(210, 16%, 12%);
    --container-color: hsl(210, 24%, 8%);
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
  }
  @media screen and (min-width: 1024px) {
    :root {
      --h2-font-size: 1.5rem;
      --normal-font-size: 1rem;
    }
  }
  
  /*=============== BASE ===============*/
  /* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  } */
  
  /* body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
  } */
  
  /* a {
    text-decoration: none;
  }  */
  
  /*=============== CARD ===============*/
  
  #goals .container {
    box-sizing: border-box; 
    height: auto;  
  }
  
  #goals .container_details{
    display: flex;
    place-items: center;
    justify-content: center;
  }
  
  #goals .card__container{
    display: flex ;
    flex-direction: row;
    justify-content: center; 
    padding-block-start: 0%;
    padding-block-end: 2rem;
  }
  
  #goals .container  h1{
    font-size: 4rem; 
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
  }
  
  #goals .card_img{
    display: flex ; 
    justify-content: center;
  }
  
  
  #goals .card__article {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin: 0 2rem;
  }
   
  #goals .card__article {
    --hue-1: 210;
    --hue-2: 238;
    position: relative;
    justify-items: center;
    color: var(--white-color);
    text-align: center;
    padding: 4rem 2rem 3rem;
    border: 4px solid transparent;
    background: linear-gradient(var(--container-color), var(--container-color)) padding-box, linear-gradient(135deg, hsl(var(--hue-1), 85%, 70%) 0%, var(--container-color), var(--container-color), hsl(var(--hue-2), 70%, 55%) 100%) border-box;
    border-radius: 1.25rem;
    overflow: hidden;
  }
  #goals .card__shape-1 {
    position: relative;
    width: 148px;
    height: 148px;
    background: linear-gradient(140deg, hsl(var(--hue-1), 75%, 25%) 3%, hsl(var(--hue-2), 65%, 45%) 100%);
    border-radius: 2rem;
    z-index: 2;
  }
  #goals .card__shape-2 {
    width: 116px;
    height: 116px;
    background: linear-gradient(140deg, hsl(var(--hue-1), 70%, 50%) 3%, hsl(var(--hue-2), 95%, 45%) 100%);
    border-radius: 1.5rem;
  }
  #goals .card__shape-3 {
    width: 76px;
    height: 76px;
    background: linear-gradient(140deg, hsl(var(--hue-1), 85%, 60%) 3%, hsl(var(--hue-2), 85%, 60%) 100%);
    border-radius: 1rem;
    display: grid;
    place-items: center;
  }
  #goals .card__shape-2, .card__shape-3 {
    position: absolute;
    inset: 0;
    margin: auto;
  }
  #goals .card__icon {
    font-size: 3rem;
  }
  #goals .card__data {
    z-index: 3;
    background: transparent;
  }
  
  #goals .card__data h2{
    font-size: 2.4rem;
    margin: 2rem 0;
  }
  
  #goals .card__data p{
    font-size: 1.6rem;
    margin: 2rem 0;
  }
  
  #goals .card__title {
    font-size: var(--h2-font-size);
    margin-bottom: 0.25rem;
    font-weight: 600;
  }
  #goals .card__description {
    margin-bottom: 1.5rem;
  }
  #goals .card__button {
    display: inline-block;
    background-color: var(--white-color);
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    color: var(--black-color);
    font-weight: 500;
  }
  #goals .card__orange {
    --hue-1: 300;
    --hue-2: 30;
  }
  #goals .card__green {
    --hue-1: 180;
    --hue-2: 50;
  }
  #goals .card__scale-1 {
    width: 148px;
    height: 148px;
    background: linear-gradient(140deg, hsl(var(--hue-1), 70%, 50%) 3%, hsl(var(--hue-2), 95%, 45%) 100%);
    border-radius: 2rem;
    top: 4rem;
  }
  #goals .card__scale-2 {
    width: 116px;
    height: 116px;
    background: var(--container-color);
    border-radius: 1.5rem;
    top: 5rem;
  }
  #goals .card__scale-1, .card__scale-2 {
    position: absolute;
    filter: blur(24px);
    transition: transform 0.3s ease-in;
  }
  #goals .card__article:hover .card__scale-1 {
    transform: scale(6);
  }
  #goals .card__article:hover .card__scale-2 {
    transform: scale(6);
    transition-delay: 0.1s;
  }
  
  /*=============== BREAKPOINTS ===============*/
  /* For small devices */
  @media screen and (max-width: 320px) {
    #goals .container {
      margin-inline: 1rem;
    }
    #goals .card__article {
      padding: 2rem 1rem;
    }
    #goals .card__scale-1 {
      top: 2rem;
    }
    #goals .card__scale-2 {
      top: 3rem;
    }
  }
  /* For medium devices */
  @media screen and (min-width: 576px) {
    #goals .card__container {
      grid-template-columns: 328px;
    }
  }
  @media screen and (min-width: 768px) {
    #goals .card__container {
      grid-template-columns: repeat(2, 328px);
    }
  }
  /* For large devices */
  @media screen and (min-width: 1120px) {
    #goals .container {
      height: auto;
    }
    #goals .card__container {
      grid-template-columns: repeat(3, 345px);
    }
    #goals .card__article {
      padding: 4.5rem 2rem 3.5rem;
    }
  }