/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  */

/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif; 
  color: #fff;
  overflow-x: hidden;
  overflow-x: clip !important;
}

:root {
  --bg-color: #000000;
  --second-bg-color: rgb(36, 37, 37);
  --text-color: #fff;
  --main-color: #0ef;
  --second-main-color:#0C7B93;
  --third-main-color:#27496D;
  --fouth-main-color:#142850;
} 
.App {
  background-color: #000000;
  /* background: var(--third-main-color);
  color: var(--text-color);
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
    url(img/background_img/IMG20230921194023.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: change 40s ease-in-out infinite;
  transition-duration: 2s; */
}

@keyframes change {
  0% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
      url(img/background_img/IMG20230921194023.jpg);
  }
  /* 20% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
      url(img/background_img/bicycle-1280x720.jpg);
  }
  40% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
      url(img/background_img/dubai.jpg);
  }
  60% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
      url(img/background_img/517669.jpg);
  }
  80% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
      url(img/background_img/5487146.jpg);
  }
  100% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
      url(img/background_img/6895209.webp);
  } */
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
