/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  */
  .Homes{
    margin-top: -20px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: change 40s ease-in-out infinite;
    transition-duration: 2s;
  }
  @keyframes change {
    0% {
      background-image: linear-gradient(rgba(0, 0, 0, 0.416), rgba(0, 0, 0, 0.062)),
        url(img/background_img/IMG20230921194023.jpg);
    }
    20% {
      background-image: linear-gradient(rgba(0, 0, 0, 0.544), rgba(0, 0, 0, 0.4)),
        url(img/background_img/bicycle-1280x720.jpg);
    }
    40% {
      background-image: linear-gradient(rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.122)),
        url(img/background_img/dubai.jpg);
    }
    60% {
      background-image: linear-gradient(rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.4)),
        url(img/background_img/517669.jpg);
    }
    80% {
      background-image: linear-gradient(rgba(0, 0, 0, 0.489), rgba(0, 0, 0, 0.4)),
        url(img/background_img/5487146.jpg);
    }
    100% {
      background-image: linear-gradient(rgba(0, 0, 0, 0.418), rgba(0, 0, 0, 0.4)),
        url(img/background_img/6895209.webp);
    }
  }
