

/* header css */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 10%;
    padding: 2rem 9%;
    margin-top: 2%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
  
  .header.sticky {
    position: fixed;
    padding: 2px 100px;
    background: rgba(0, 0, 0, 0.4);
    opacity: 1;
    margin-top: 0%;
    transition: 0.3s; 
    /* padding-top: 50px; */
  }
  /* 
  .header p {
    width: 10%;
    font-size: 1rem;
  } */
  
  .logo1 img {
    width: 100%;
  }
  
  a.logo1 {
    width: 6%;
  }
    
  
  .logo2 img {
    width: 100%;
  }
  
  a.logo2 {
    width: 6%;
  }
  
  nav.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 3%;
  }
  
  .navbar a {
    color: #ffffff;
    font-size: 2rem;
    margin-left: 3%;
    position: relative;
  }
  
  .navbar a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0%;
    width: 0%;
    height: 2px;
    background: var(--main-color);
    transition: 0.4s;
  } 
  
  .navbar a:hover::before {
    width: 100%;
  }
  
  /* header css */