

/* header css */

.headerContainer {
  /* margin-top: 30px; */
  position: fixed;
  /* top: 30px; */
  left: 0;
  width: 100%;
  z-index: 999;
  /* padding: 0 9%; */
}

.header {
    top: 0;
    left: 0;
    width: 100%; 
    height: 80px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
    /* padding: 0 30px; */
    border-radius: 10px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur( 6px );
    /* border-bottom: 1px solid black; */
  }
  
  
  .logo1 img {
    width: 50px;
  }    
  
  .logo2 img {
    width: 50px;
  }
  
  a.logo2 {
    width: 6%;
  }
  
  nav.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 3%;
  }
  
  .navbar .link {
    color: #ffffff;
    font-size: 1.7rem;
    margin-left: 3%;
    position: relative;
  }
  
  .navbar .link::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0%;
    width: 0%;
    height: 2px;
    background: var(--main-color);
    transition: 0.4s;
  } 
  
  .navbar .link:hover::before {
    width: 100%;
  }
  
  /* header css */
  /* .link{
    position: relative;
  } */
  
  .tabInner{
    display: none
    ; width: 150px;
    position: absolute;
    top: 28px;
    left: 0px;
    background: rgba(80, 80, 80, 0.5);
    padding: 10px;
    border-radius: 5px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur( 4px );
    flex-direction: column;
    gap: 5px;
  }
  
  .link:hover .tabInner{
    display: flex;
  }
  
  .menu{
    display: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }
  
  .mobileMenuContainer{
    display: none;
  }
  
  .crossBtn{
    position: absolute;
    top: 50px;
    right: 50px;
    padding: 5px 12px;
    cursor: pointer;
    background-color: grey;
    border-radius: 50%;
  }
  
  .mobileMenu a:hover {
    color: rgb(255, 242, 0);
  }
  
  @media screen and (max-width: 768px) {
    .menu {
      display: block;
    }
  
    .mobileMenuContainer{
      top: 0;
      left: 0;
  
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;  
      width: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      backdrop-filter: blur(6px);
      /* -webkit-backdrop-filter: blur(6px); */
    }
  
    .mobileMenu{
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  
      nav.navbar {
        display: none;
      }
  }