

/* header css */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 10%;
    padding: 2rem 9%;
    margin-top: 2%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
  
  .header.sticky {
    position: fixed;
    padding: 2px 100px;
    background: rgba(0, 0, 0, 0.4);
    opacity: 1;
    margin-top: 0%;
    transition: 0.3s; 
    /* padding-top: 50px; */
  }
  /* 
  .header p {
    width: 10%;
    font-size: 1rem;
  } */
  
  .logo1 img {
    width: 60px;
  }
  
  a.logo1 {
    width: 6rem;
  }
    .menu-link{
      background-color:rgb(48, 48, 56);
      height:130px;
      width: 100%;
      position: absolute;
      top:0px;
      z-index: 109;
      display: flex;
    }
   .one{
    width:50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 19px;
    color:white;
    text-align: center;
   }
   .one a{
    margin: 5px;
  
   }
   .out{
    font-size: 30px;
    
   }
   .two{
    width:50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 19px;
    color:white;
    text-align: center;
   }
  .logo2 img {
    width: 60px;
  }
  
  a.logo2 {
    width: 6rem;
    margin-right:10px;
  }
  
  nav.navbar {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 30px;
  }
  nav.navbar.hidden {
    display: none;
  }
  .menu{
 margin-left:52%;
  color:white;
  }
  .color{
    color:white;
    cursor:pointer;
  }
  .navbar a {
    color: #ffffff;
    font-size: 2rem;
    margin-left: 20px;
   position:relative;
  }
  
  .navbar a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0%;
    width: 0%;
    height: 2px;
    background: var(--main-color);
    transition: 0.4s;
  } 
  
  .navbar a:hover::before {
    width: 100%;
  }
  @media screen and (max-width:1309px){
    .navbar{
      margin-right: 20px;
    }
}
  @media screen and (max-width:779px){
            .header{
              height:60px;
            }
      
  }
  @media screen and (max-width:538px){
         .menu{
             margin-right: 20px;
         }
}
@media screen and (max-width:429px){
  a.logo2{
  margin-left:-200px
  }
  .menu{
   margin-right:-120px;
  }
}

  /* header css */