
/* events css */


.events {
    height: auto  ;
    padding: 10rem 9% 5rem; 
    display: block; 
    background:var(--second-main-color);
}

.event_header{
  padding-bottom: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column; 
}

.event_header h1{
    font-size: 4rem; 
    padding-bottom: .5rem;
}

.event_header p{
  font-size: 1.6rem;  
  width: 100%; 
}

.events_box{
    display: flex;
    justify-content:space-evenly   ;
    align-items: center;  
    width: 100%;
    padding-bottom: 5rem;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;  
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black; 
}

.flip-card-front img{ 
  object-fit:cover; 
  width: 100%;
  height: 100%;
}

.flip-card-back {
  background-color: var(--second-main-color);
  color: white;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flip-card-back h1{
  font-size: 2.6rem;
}

.flip-card-back p{
  font-size: 1rem;
}

.events_btn{
  width: 100%;
  display: flex ;
  justify-content: end;
  margin-right: 15%;
}

/* events css */
